*.suo
*.user
*.[Cc]ache
*.docstates
bin/
obj/
build/
_NCrunch*/
_ReSharper*/
VersionInfo.cs
build.log
lib/Extended.Wpf.Toolkit.2.4/Extended.Wpf.Toolkit.2.4.nupkg
lib/Extended.Wpf.Toolkit.2.4/lib/net35/WPFToolkit.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net35/Xceed.Wpf.Toolkit.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/de/Xceed.Wpf.AvalonDock.resources.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/es/Xceed.Wpf.AvalonDock.resources.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/fr/Xceed.Wpf.AvalonDock.resources.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/hu/Xceed.Wpf.AvalonDock.resources.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/it/Xceed.Wpf.AvalonDock.resources.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/pt-BR/Xceed.Wpf.AvalonDock.resources.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/ro/Xceed.Wpf.AvalonDock.resources.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/ru/Xceed.Wpf.AvalonDock.resources.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/sv/Xceed.Wpf.AvalonDock.resources.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/Xceed.Wpf.AvalonDock.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/Xceed.Wpf.AvalonDock.Themes.Aero.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/Xceed.Wpf.AvalonDock.Themes.Metro.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/Xceed.Wpf.AvalonDock.Themes.VS2010.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/Xceed.Wpf.DataGrid.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/Xceed.Wpf.Toolkit.dll
lib/Extended.Wpf.Toolkit.2.4/lib/net40/zh-Hans/Xceed.Wpf.AvalonDock.resources.dll
lib/Extended.Wpf.Toolkit.2.4/tools/install.ps1
